/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .profile {
    font-size: 16px;
  }
  