/* Signup.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
  }
  
  .signup-box {
    background-color: #2e2e2e;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .signup-box h2 {
    color: white;
    margin-bottom: 1.5rem;
  }
  
  .signup-box label {
    display: block;
    color: #bdbdbd;
    text-align: left;
    margin: 0.5rem 0 0.2rem;
  }
  
  .signup-box input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #1d1d1d;
    color: #e0e0e0;
  }
  
  .signup-box button {
    width: 100%;
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }